*{
    font-family: 'Nunito', sans-serif;
}

nav{
    background-color: #003A6A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    margin: 0;
}

nav .logo{
    color: aliceblue;
    font-size: xx-large;
}

nav .links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

nav .links a{
    text-decoration: none;
    color: aliceblue;
    border-radius: 1rem;
    padding: .5rem;
    transition: all 500ms ease-in-out;
}

nav .links a:hover{
    background-color: #0069c0;

}

footer{
    text-align: center;
    margin: 1rem;
}

nav a{
    text-decoration: none;
}