main{
    background-color: lightgray;
    padding: 1rem;
    margin: 0rem 10rem;
    margin-top: 3rem;
}

main .mission{
    font-size: large;
}

main .main-head{
    border-bottom: 1px solid black;
}


.links {
    margin: 2rem 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  
.links {
    list-style: none;
  }

  
.links li {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 1rem;
    transition: all 1000ms;
  }
  
  .links li:hover {
    background-color: rgb(148, 151, 153);
    transform: scale(1.1);
  }

  .links a{
      color: currentColor;
      text-decoration: none;
  }

  
.main-title {
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: lightgray;
    margin: 1rem 35rem;
    padding: 1rem;
  }

  